{% extends '/layouts/theme.twig' %}

{% block body %}
    <main class="main-root">
        <div class="wrapper">
            <div class="page-holder">
                <div class="breadcrumb">
                    <a href="{{ routes.root_url | preview_mode(preview_token) }}"
                       class="breadcrumb-link">{{ "common.home" | trans }}</a>
                    <a href="javascript:void(0)" class="breadcrumb-link">
                        {% if page.type == "legal" %}
                            {{ "page.policies" | trans }}
                        {% else %}
                            {{ "page.pages" | trans }}
                        {% endif %}
                    </a>
                    <a href="#" class="breadcrumb-link active">{{ page.title }}</a>
                </div>
                <h1 class="page-header--title">{{ page.title }}</h1>
                <div class="page-container">
                    <div class="editor--content">
                        <!-- Begin :: Editor Content Data -->
                        {{ page.body_html | raw }}
                        <!-- End   :: Editor Content Data -->
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block seo_tags %}
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="og:title" content="{{ page.meta_title }}">
    <meta name="og:description" content="{{ page.meta_description }}">
    <meta name="og:url" content="{{ canonical_url }}">
    <meta name="og:image" content="{{ shop.image.src }}">
{% endblock %}
