<div class="float-social-list">
    <div class="float-social-list--container">
        {% if shop.facebook is not null %}
            <a href="{{ shop.facebook }}" class="float-social-list--item facebook" target="_blank">
                <svg
                        width="32"
                        height="32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            fillRule="evenodd"
                            clipRule="evenodd"
                            d="M4 16c0 5.933 4.333 10.867 10 11.867l.067-.054L14 27.8v-8.467h-3V16h3v-2.667c0-3 1.933-4.666 4.667-4.666.866 0 1.8.133 2.666.266V12H19.8c-1.467 0-1.8.733-1.8 1.667V16h3.2l-.533 3.333H18V27.8l-.067.013.067.054c5.667-1 10-5.934 10-11.867 0-6.6-5.4-12-12-12S4 9.4 4 16Z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.twitter is not null %}
            <a href="{{ shop.twitter }}" class="float-social-list--item twitter" target="_blank">
                <svg
                        width="32"
                        height="32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            fillRule="evenodd"
                            clipRule="evenodd"
                            d="M24.882 12.101c.008.2.01.4.01.6 0 6.06-4.262 13.055-12.057 13.055-2.395 0-4.621-.763-6.497-2.062.332.036.668.064 1.01.064 1.986 0 3.814-.736 5.265-1.972-1.855-.027-3.42-1.363-3.96-3.18.259.055.526.082.799.082.385 0 .758-.054 1.117-.163-1.94-.418-3.403-2.272-3.403-4.497v-.055a4.107 4.107 0 0 0 1.922.572C7.95 13.72 7.201 12.31 7.201 10.72c0-.835.208-1.626.575-2.307 2.09 2.78 5.214 4.606 8.736 4.797a4.998 4.998 0 0 1-.11-1.045c0-2.535 1.898-4.588 4.239-4.588 1.219 0 2.32.554 3.092 1.445a7.954 7.954 0 0 0 2.694-1.109c-.318 1.072-.99 1.972-1.866 2.535a7.946 7.946 0 0 0 2.435-.718 9.053 9.053 0 0 1-2.114 2.371Z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.youtube is not null %}
            <a href="{{ shop.youtube }}" class="float-social-list--item youtube" target="_blank"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        version="1.0"
                        viewBox="0 0 32 32"
                >
                    <path
                            d="M5.5 5.6C2.2 6.5 1 9.1 1 15.5 1 25.5 1.8 26 16 26s15-.5 15-10.5c0-9.3-.8-9.9-13.1-10.2-5.7-.1-11.3.1-12.4.3zm11.6 7.9c3.3 1.8 3.1 2.8-1.2 5L13 20.1V16c0-4.5 0-4.6 4.1-2.5z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.instagram is not null %}
            <a href="{{ shop.instagram }}" class="float-social-list--item instagram" target="_blank"
            >
                <svg
                        width="32"
                        height="32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M16 4.363c-3.16 0-3.556.014-4.798.07-1.238.057-2.084.253-2.824.541a5.698 5.698 0 0 0-2.061 1.342 5.712 5.712 0 0 0-1.343 2.061c-.289.74-.485 1.586-.54 2.824-.056 1.242-.07 1.638-.07 4.799 0 3.16.013 3.555.07 4.797.057 1.238.253 2.084.54 2.824a5.702 5.702 0 0 0 1.342 2.061 5.698 5.698 0 0 0 2.06 1.343c.741.288 1.587.484 2.825.54 1.242.057 1.638.071 4.798.071s3.556-.014 4.797-.07c1.239-.057 2.085-.253 2.825-.54a5.694 5.694 0 0 0 2.06-1.344 5.713 5.713 0 0 0 1.343-2.061c.286-.74.483-1.586.54-2.824.056-1.242.071-1.637.071-4.797 0-3.16-.015-3.557-.07-4.798-.058-1.24-.255-2.085-.54-2.825a5.712 5.712 0 0 0-1.344-2.061 5.687 5.687 0 0 0-2.06-1.342c-.742-.288-1.588-.484-2.827-.54-1.241-.057-1.636-.07-4.797-.07H16ZM14.956 6.46H16c3.107 0 3.475.011 4.702.067 1.135.052 1.75.242 2.16.4.544.212.93.464 1.338.871.407.407.66.795.87 1.338.16.41.35 1.026.401 2.16.056 1.227.068 1.596.068 4.701 0 3.105-.012 3.474-.068 4.7-.052 1.135-.241 1.75-.4 2.16-.211.544-.464.93-.871 1.337-.407.408-.794.66-1.337.87-.41.16-1.026.35-2.16.402-1.227.055-1.596.067-4.703.067s-3.475-.012-4.702-.067c-1.134-.053-1.75-.242-2.16-.402a3.605 3.605 0 0 1-1.338-.87 3.607 3.607 0 0 1-.871-1.337c-.16-.41-.35-1.026-.4-2.16-.057-1.227-.068-1.595-.068-4.703 0-3.107.011-3.474.067-4.7.052-1.135.242-1.75.4-2.161.212-.543.464-.93.872-1.338.407-.407.795-.66 1.338-.871.41-.16 1.026-.35 2.16-.401 1.074-.049 1.49-.063 3.658-.066v.003Zm7.256 1.932a1.396 1.396 0 1 0 0 2.794 1.396 1.396 0 0 0 0-2.794ZM16 10.024a5.976 5.976 0 1 0 .001 11.952A5.976 5.976 0 0 0 16 10.024Zm0 2.097a3.879 3.879 0 1 1 0 7.757 3.879 3.879 0 0 1 0-7.757Z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.tiktok is not null %}
            <a href="{{ shop.tiktok }}" class="float-social-list--item tiktok" target="_blank">
                <svg
                        width="32"
                        height="32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M13.32 23.012c1.78 0 3.224-1.275 3.224-3.223V5.333h3.865c-.217 2.636 2.404 5.183 5.294 5.125v3.634c-2.472 0-4.573-1.045-5.305-1.625v7.322c0 3.223-2.535 6.877-7.077 6.877s-7.022-3.654-7.022-6.877c0-4.55 4.814-7.188 8.002-6.543v3.702a3.388 3.388 0 0 0-.926-.14c-1.795-.066-3.277 1.39-3.277 2.98a3.223 3.223 0 0 0 3.223 3.224Z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.linkedin is not null %}
            <a href="{{ shop.linkedin }}" class="float-social-list--item linkedin" target="_blank">
                <svg
                        width="32"
                        height="32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M8.736 11.226a2.37 2.37 0 1 0 0-4.74 2.37 2.37 0 0 0 0 4.74ZM13.277 12.978h3.928v1.8s1.067-2.133 3.967-2.133c2.587 0 4.73 1.275 4.73 5.16v8.193h-4.07v-7.2c0-2.292-1.224-2.544-2.156-2.544-1.935 0-2.266 1.67-2.266 2.843v6.901h-4.133v-13.02ZM6.67 12.978h4.132v13.02H6.669v-13.02Z"
                            fill="currentColor"
                    />
                </svg>
            </a>
        {% endif %}
        {% if shop.whatsapp is not null %}
            <a href="https://api.whatsapp.com/send/?phone={{ shop.whatsapp | replace({'+': ''}) }}&text&type=phone_number&app_absent=0"
               class="float-social-list--item whatsapp"
               target="_blank">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="28"
                        height="28"
                        fill="currentColor"
                        viewBox="0 0 256 256"
                >
                    <path
                            d="M187.58,144.84l-32-16a8,8,0,0,0-8,.5l-14.69,9.8a40.55,40.55,0,0,1-16-16l9.8-14.69a8,8,0,0,0,.5-8l-16-32A8,8,0,0,0,104,64a40,40,0,0,0-40,40,88.1,88.1,0,0,0,88,88,40,40,0,0,0,40-40A8,8,0,0,0,187.58,144.84ZM152,176a72.08,72.08,0,0,1-72-72A24,24,0,0,1,99.29,80.46l11.48,23L101,118a8,8,0,0,0-.73,7.51,56.47,56.47,0,0,0,30.15,30.15A8,8,0,0,0,138,155l14.61-9.74,23,11.48A24,24,0,0,1,152,176ZM128,24A104,104,0,0,0,36.18,176.88L24.83,210.93a16,16,0,0,0,20.24,20.24l34.05-11.35A104,104,0,1,0,128,24Zm0,192a87.87,87.87,0,0,1-44.06-11.81,8,8,0,0,0-6.54-.67L40,216,52.47,178.6a8,8,0,0,0-.66-6.54A88,88,0,1,1,128,216Z"
                    ></path>
                </svg>
            </a>
        {% endif %}
    </div>
    <span class="float-social-list--toggle ph-chats-fill"></span>
</div>
