{% extends '/layouts/theme.twig' %}

{% block body %}
    <main class="main-root">
        <div class="wrapper">
            <div class="auth-container">
                {% if message is not empty %}
                    <div class="alert alert--danger m-b-24">{{ message }}</div>
                {% endif %}
                <div class="auth-holder">
                    <h2 class="auth-holder--heading">{{ "forgot_password.title" | trans }}</h2>
                    <div class="auth-holder--form">
                        <div class="forgot_password_holder">
                            <form id="forgot_password_form"
                                  action="{{ routes.ajax_account_forgot_url | preview_mode(preview_token) }}"
                                  method="post">
                                {{ csrf_input() }}
                                <input type="hidden" name="preview" value="{{ preview_token }}">

                                <div class="input-wrapper m-b-24">
                                    <input type="email" class="input-field"
                                           placeholder="{{ "forgot_password.email" | trans }}" name="email">
                                </div>
                                <button type="submit"
                                        class="btn btn-fluid btn-md btn-dark m-b-24 forgotPasswordBtn">
                                    {{ "forgot_password.submit" | trans }}
                                </button>
                            </form>
                            <a href="{{ routes.account_login_url | preview_mode(preview_token) }}"
                               class="btn btn-fluid btn-outline-md btn-outline btn-outline-primary">
                                {{ "forgot_password.cancel" | trans }}
                            </a>
                        </div>
                        <div class="forgot_password_info_holder" style="display: none">
                            <p>
                                {{ "forgot_password.info_description" | trans }}
                            </p>
                            <a href="javascript:void(0)"
                               class="link link--primary text-decoration-underline fs-14 resend_code_btn">{{ "forgot_password.resend" | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block title %}{{ "forgot_password.title" | trans  ~ " - " ~ shop.name }}{% endblock %}

{% block js %}
    <script>
        $('.forgotPasswordBtn').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            clearSuccesses();
            clearErrors();
            showLoading(true);

            let form = $('#forgot_password_form');
            let url = form.attr('action');

            let data = {
                email: form.find('[name="email"]').val(),
                preview: form.find('[name="preview"]').val(),
                _token: '{{ csrf_token() }}'
            }

            ajaxRequest(url, 'POST', data, () => {
                showLoading(false);

                $('.forgot_password_holder').hide();
                $('.forgot_password_info_holder').show();

                form.find('.has-error').removeClass("has-error")

                form.prev().remove();
                form.before('<div class="alert alert--success m-t-24">' +
                    '{{ "forgot_password.success_message" | trans }}' +
                    '</div>');
            }, err => {
                showLoading(false);
                if (err.responseJSON && err.responseJSON.message && !err.responseJSON.errors) {
                    form.prev().remove();
                    form.before('<div class="alert alert--danger m-b-24">' + err.responseJSON.message + '</div>');
                }
                if (err.responseJSON && err.responseJSON.errors) {
                    err.responseJSON.errors.map(err => {
                        if (err.field === "email") {
                            let element = $('[name="email"]')
                            loadValidation(element, err.title);
                        }
                    })
                }
            });
        })

        $('.resend_code_btn').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            clearSuccesses();
            clearErrors();
            showLoading(true);


            let errorElement = $('.forgot_password_info_holder');

            let form = $('#forgot_password_form');
            let url = form.attr('action');

            let data = {
                email: form.find('[name="email"]').val(),
                preview: form.find('[name="preview"]').val(),
                _token: '{{ csrf_token() }}'
            }

            ajaxRequest(url, 'POST', data, () => {
                showLoading(false);

                errorElement.find('.alert--success').remove();
                errorElement.find('.alert--danger').remove();

                errorElement.append('<div class="alert alert--success m-t-24">' +
                    '{{ "forgot_password.success_message" | trans }}' +
                    '</div>');
            }, err => {
                showLoading(false);
                if (err.responseJSON && err.responseJSON.message && !err.responseJSON.errors) {
                    errorElement.find('.alert--success').remove();
                    errorElement.find('.alert--danger').remove();
                    errorElement.before('<div class="alert alert--danger m-b-24">' + err.responseJSON.message + '</div>');
                }
                if (err.responseJSON && err.responseJSON.errors) {

                    errorElement.find('.alert--success').remove();
                    errorElement.find('.alert--danger').remove();

                    err.responseJSON.errors.map(err => {
                        if (err.field === "email") {
                            errorElement.before('<div class="alert alert--danger m-b-24">[' + err.field + '] ' + err.title + '</div>');
                        }
                    })
                }
            });
        })

        function loadValidation(element, title) {
            element.parent().addClass('has-error');
            element.next().remove();
            element.after('<span class="error-message">' + title + '</span>');
        }

        function clearErrors() {
            $('.alert--danger').each(function (i) {
                $(this).remove();
            })

            $('.has-error').each(function (i) {
                $(this).removeClass('has-error');
            })

            $('.error-message').each(function (i) {
                $(this).remove();
            });
        }

        function clearSuccesses() {
            $('.alert--success').each(function (i) {
                $(this).remove();
            })
        }
    </script>
{% endblock %}
